/* General Styling */
:root{
	--main-color:#7068d8;
	--main-dark-color:#0c1824;	
	--grey-color: #f1f1f1
}

html{
	box-sizing: border-box;
}
*, *:after, *:before{
	box-sizing: inherit;
}
body{
	font-family: 'Montserrat';
	margin: 0;
    background-color: rgba(12, 24, 36, .9);
	padding: 0;
	color: var(--main-dark-color);
}
ul{
	list-style: none;
	padding: 0;
    margin: 0;
}	
a{
	text-decoration: none;
	font-weight: 100;
	color: white
}
a:hover{
	color: white;
	text-decoration: none
}
button:focus{
	outline: none;
}
/* End General Styling Page*/

/* Start Login Page Styling*/
form[action="BookStore.html"]{
	margin: auto;
	width: 50%;
	background-color: white;
	padding: 2rem;
	margin-top: 2rem;
	font-weight: bold;
	border-radius: 2px;
	.btn{
		background-color: var(--main-color);
		color: white;
		font-weight: bold;
		margin-top: 1rem;
		&:hover{
			background-color: var(--main-dark-color);
			color: white;
		}
	}
}
/* End Login Page*/

/* BookStoreHome Page*/
/* header style */
header{
	background-color: white;
	padding:.5rem 1rem;
	h2{
		color: var(--main-color);
		font-weight: 900;
		padding: .5rem;
		margin: 0;
		display: inline-block;
	}
	.logout{
		float: right;
		height: 100%;
		padding: .5rem;
		border-left: 2px solid var(--grey-color);
		button{
			font-weight: bold;
			border: none;
			i{
				color:var(--main-color);
				pointer-events: none;
			}
		}
	}
}

section, .edit-container{
	.contain{
		padding: 0;
		margin: 1rem 7rem;
		.header{
			padding: 1rem 0 ;
			h3{
				display: inline-block;
				color: white;
			}
			.editbar{
				float: right;
				.btn{
					background-color: var(--main-color);
					color: white;
					padding: .5rem 1rem;
					i{
						font-size: .85rem;
					}
				}
				button.add{
					margin-right: .5rem;
				}
			}
		}
		.content{
			display: flex;
			width: 100%;
    		overflow: hidden;
			.filter{
				margin: 1rem 1rem 0 0;
				background-color: white;
				flex: 0 0 25%;
				height: fit-content;
				h4{
					padding: 1rem;
					background-color: var(--main-color);
					color: white;
					font-size: 1rem;
					font-weight: bold;
					letter-spacing: .05rem;
					i{
						display: inline-block;
						font-size: .85rem;
					}
				}
				input{
					width: 94%;
					margin: 1rem 3% ;
				}
			}
			table{
				color: white;
				margin-top: 1rem;
				flex: 0 0 72%;
				tbody, thead{
					tr{
						th , td{
							border: 1px solid white;
							padding: 1rem .5rem;
						}
						td{
							&:nth-child(1){
								width:2%;
							}
							&:last-child{
								text-align: right;
							}
							button.edit{
								background-color: white;
								i{
									color: var(--main-dark-color);	
								}
							}
							table#product-order{
								width: 100%;
								margin: auto;
							}
						}
						.action{
							text-align: right;
						}
					}
				}
				tbody{
					tr.deleted-element{
						transition: all .5s ease-in-out;
						opacity: 0;
					}
				}
			}
			.product{
				background-color: unset;
				flex: 0 0 72%;
				margin: 1rem;
				border: none;
				padding: 0;
				ul.ui-tabs-nav{
					padding: 0;
					background-color: unset;
					border: none;
					li{
						border: none;
						padding-right: 1rem;
						margin-right: 1rem ;
					}
					li.ui-tabs-active{
						background-color: var(--main-color);
					}
					
				}
				#books, #tools{
					padding:0;
					table{
						display: block;
						img{
							width: 50px;
							height: 50px;
						}
					}
				}
			}
		}
	}
}
.customer, .Recurring, .supplier, .product, .Order{
 	display: none;
}
.show {
	display: block;
}
/* End BookStoreHome Page*/

/* Start Add page */
.edit-container{
	form{
		width: 100%;
		border: 1px solid white;
		margin-top: 2rem;
		.form-group{
			display: flex;
			justify-content: space-around;
			color: white;
			border-bottom: 1px solid white;
			padding: 1rem;
			label{
				line-height: 38px;
				flex: 0 0 12%;
			}
			h5{
				width: 100%;
				i{
					font-size: 1rem;
					padding: 0 2rem 0 0; 
				}
			}
		}
		&.Order-form{
			.form-group:nth-child(3){
				flex-wrap: wrap;
				.row{
					flex: 0 0 100%;
					margin-bottom: 1rem;
					&.add-head{
						display: flex;
						justify-content: space-around;
						i{
							background-color: var(--main-color);
							line-height: 40px;
							padding: 0 1rem;
							border-radius: 2px;
							cursor: pointer;
						}
						p{
							margin-bottom: 0;
							line-height: 40px;
						}
					}
				}
			}
		}
	}

}
.edit-container form.show{
	display: block;
}
.Supplier-form , .Customer-form, .recurring-form, .Order-form, .Products-form{
	display: none;
}
form#Products{
	input[type="file"]{
		width: 100%;
		margin: auto;
	}
}
/* End Add page */
